<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<!--<h3>Filtro:{{filtroLista}}</h3>-->
<table class="table table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th><button class="btn btn-primary btn-sm" (click)="alterarImagem()">
        <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{!mostrarImagem ? 'Exibir' : 'Ocultar'}}
      </button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="buscaEvento && buscaEvento.length"> <!--Só exibe se os eventos existirem-->
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.id}}</td>
      <td>
        <img [collapse]="mostrarImagem" [isAnimated]="true" src="/assets/{{evento.imagemURL}}"
        [style.width.px]="widthImg" [style.margin.px]="marginImg">

        <!--
        <img *ngIf="mostrarImagem" src="/assets/{{evento.imagem}}"
        [style.width.px]="widthImg" [style.margin.px]="marginImg">
        -->
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-edit"></i>
            Editar</button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
            Excluir</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!buscaEvento.length">
    <tr>
      <td colspan="8" class="text-center">
        Nenhum evento encontrado!
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

<!-- Diretivas estruturais:
*ngIf
*ngFor
*ngShow

----
Binding e interpolações:
{{eventos}} //aparece como objetos
{{eventos[0].imagem}} //exibe a foto por ex
{{1+1}} //retorna 2
{{eventos | json}} //exibe o json
-->
